.star_img {
  margin-left: 87%;
  margin-bottom: 5%;
}

.clear-btn {
  border-radius: 10px;
  border: none;
  font-weight: 400;
  background-color: red;
  color: white;
  width: 60px;
  height: 30px;
}