
.nav-bar {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-width: 1px;
    border-color: black;
}

.nav-logo{
    width: 120px;
    height: 40px;
    margin-left: 40px;
    /* margin-right: 40px; */
}

/* .nav-item-logo {
    font-size: 28px;
    font-weight: bold;
} */

.nav-item {
    margin-left: 5%;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    text-decoration: none;
    /* font-size: 28px;
    font-weight: bold; */
}

.all-fuctions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    font-weight: bold;
    margin-left: 5%;
    /* background-color: aqua; */
}


.profile-signout {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    width: 25%;
    height: 100%;
    margin-left: 20%;
    margin-right: 5%;
    /* background-color: blue; */
}

.nav-profile-img{
    width: 44px;
    height: 42px;
    margin-right: 1rem;
    border-radius: 70%;
}
