body {
    margin: 0;
    overflow-y: hidden;
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

.outer::-webkit-scrollbar {
    display: none;
}

/* .inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
} */

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: blue;
}

.bg-pink {
    background-color: pink;
}