/* body {
    margin: 0;
} */


.landing-body{
    overflow-y: hidden;
}


.outer {
    height: 95vh;
    overflow-y: auto;
    
}

.outer::-webkit-scrollbar {
    display: none;
}


.landing1{
    height: 100vh;
}

.landing-image-container1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 1) 120%)
    , url(https://media.nomadicmatt.com/2022/koreaguide1.jpg);
    background-size: cover;
}

.trudy-header1{
    font-size: 100px;
    margin-left: 70%;
    margin-top: -36.4%;
    color: ivory;
    font-weight: bold;
}

.trudy-detail1{
    font-size: 30px;
    width: 350px;
    margin-left: 70%;
    color: ivory;
    font-weight: bold;
}

.landing2{
    height: 100vh;
}

.landing-image-container2{
    width: 100%;
    height: 100vh;
    /* margin-top: 2px; */
    background: linear-gradient(to right,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 1) 100%)
    , url(https://www.visitbusan.net/uploadImgs/files/cntnts/20191229160530047_oen);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.trudy-header2{
    font-size: 80px;
    margin-left: 70%;
    margin-top: -36.4%;
    color: ivory;
    font-weight: bold;
}

.trudy-detail2{
    font-size: 30px;
    width: 350px;
    margin-left: 70%;
    color: ivory;
    font-weight: bold;
}

.landing3{
    background-color: lightgrey;
    height: 100vh;
}

.landing-image-container3{
    /* background: linear-gradient(to left,
    rgba(20, 20, 20, 0) 10%,
    rgba(20, 20, 20, 0.25) 25%,
    rgba(20, 20, 20, 0.5) 50%,
    rgba(20, 20, 20, 0.75) 75%,
    rgba(20, 20, 20, 0.9) 150%), url("landing3.png"); */
    background-image: url("../Assets/landingCrossPlatform.png");
    width: 70%;
    height: 100vh;
    background-size: cover;
}

.landing-title3{
    font-size: 80px;
    margin-left: 72%;
    margin-top: -36.4%;
    color: rgb(35, 162, 35);
    font-weight: bold;
}

.landing-detail3{
    font-size: 40px;
    margin-left: 72%;
    color: rgb(35, 162, 35);
    font-weight: bold;
}


.divider{
    height: 4px;
    background-color: black;
}

