.map-page-container {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.place-info {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 600px;
  height: 100vh;
  background-color: blue;
  -webkit-overflow-scrolling: hidden;
}

.google-map {
  width: 1000px;
  height: 660px;
  display: flex;
  justify-content: right;
}
