.forum-create-container {
  width: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(237, 248, 239); */
}

.forum-title-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-top: 30px;
  /* background-color: aqua; */
  /* justify-content: ; */
}

.forum-title {
  width: 800px;
  height: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-width: 0.5px;
}

.forum-text-editor {
  width: 760px;
  /* height: 300px; */
  margin-bottom: 30px;
}

.forum-create-box {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  background-color: skyblue;
}

.editor {
  height: 500px;
}

.Forum-Create-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.create-cat-select {
  height: 150px;
  max-height: 150px;
  display: inline-block;
}
