
.forum-item-container{
  display: flex;
  justify-content: center;
}


.forum-item-box {
  /* width: 30%; */
  border-width: 2px;
  border-color: gray;
  border-radius: 2%;
  padding: 3px;
  /* margin-left: 10px; */
}

.forum-thumbnail-image {
  width: 400px;
  /* height: 250px; */
  border-radius: 2%;
  border-width: 2px;
}

.forum-member-image {
  width: 25%;
  border-radius: 70%;
  margin-top: -12%;
  margin-left: 30px;
}


.forum-data-box{
  border-radius: 2px;
}

.forum-txt-title{
  height: 1.5em;
}

.forum-txt-content {
  overflow: hidden;
  width: 380px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.2em;
  height: 3.8em;
}
