.forum-detail-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 95vh;
  /* background-color: aquamarine; */

  /* background-color: rgb(229, 246, 233); */
}

.forum-detail-title {
  /* font-size: 1.5em; */
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  /* padding: 5px; */
  width: 800px;
  display: flex;
  justify-content: center;
  min-height: 50px;
  border-radius: 10px;
  font-size: 26px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.forum-detail-content {
  width: 800px;
  min-height: 650px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  /* border-radius: 10px; */
  /* border-width: 2px; */
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
  /* padding-top: 10px; */
  /* padding-bottom: 20px; */
}

.detail-box {
  /* margin-bottom: 20%; */
  /* background-color: aqua; */
}

.forum-detail-region-category {
  width: 95%;
}

.forum-detail-hr {
  background-color: black;
  height: 1px;
  width: 800px;
}

/* 아래 댓글 */

.forum-detail-comment-section {
  width: 800px;
  /* background: green; */
}

.comment-input-area {
  width: 800px;
  min-height: 40px;
  border-radius: 5px;
  resize: none;
}

.forum-input-submit-button {
  width: 80px;
}
