.forum-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: red;
}

.forum-detail-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
