body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 10px;
  font-size: 1.2em;
}

#chat-title {
  align-items: center;
  text-align: center;
  border: none;
  padding: 10px;
  color: rgb(9, 190, 48);
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;
}

#go-button {
  border: none;
  padding: 10px;
  background: rgb(3, 156, 3);
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin-top: 25px;
  border-radius: 5px;
}
#go-button:hover {
  border: none;
  padding: 10px;
  background: rgb(2, 192, 2);
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin-top: 25px;
  border-radius: 5px;
}

.chat-container {
  width: 80%;
}

#introduce-chat {
  font-size: 1.2em;
  text-align: center;
  position: block;
}

.register {
  position: fixed;
  padding: 30px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  top: 32%;
  left: 40%;
  display: flex;
  flex-direction: column;
}
#chat-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin-top: 15px;
  margin-left: 180px;
  height: 750px;
  padding: 10px;
  display: flex;
  width: 80%;
  flex-direction: row;
}

.member-list {
  width: 20%;
}

.chat-content {
  width: 80%;
  margin-left: 10px;
}

#chat-messages {
  height: 91%;
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  overflow: auto;
}

#send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-message {
  width: 92%;
  border-radius: 50px;
  margin-top: 17px;
}

ul {
  padding: 0;
  list-style-type: none;
}
#send-button {
  background: rgb(9, 190, 48);
  color: white;
  width: 8%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 17px;
  cursor: pointer;
}
#send-button:hover {
  background: rgb(8, 209, 52);
  color: white;
  width: 8%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 17px;
  cursor: pointer;
}

.member {
  padding: 10px;
  background: #eee;
  border: #000;
  cursor: pointer;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
  font-weight: bold;
  color: rgb(197, 196, 196);
}

.member.active {
  background: rgb(11, 199, 52);
  color: #fff;
  font-weight: bold;
}
.member:hover {
  background: rgb(65, 221, 60);
  color: #fff;
  font-weight: bold;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
}
.avatar.self {
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgb(5, 202, 5);
}
.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}
.message-data {
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
}
.message.self {
  justify-content: end;
}
